<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:label="Ethiopian Calendar"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:roundIcon="@mipmap/launcher_icon"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">
        <service
            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"/>
            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- flutter_android_widgets:start -->
        <receiver android:name=".MyHomeWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_dark_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetGlassyProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetGlassyProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_glassy_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetGlassyDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetGlassyDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_glassy_dark_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetDayProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetDayProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_day_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetDayDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetDayDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_day_dark_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetDayGlassyProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetDayGlassyProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_day_glassy_provider"/>
        </receiver>
        <receiver android:name=".MyHomeWidgetDayGlassyDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.MyHomeWidgetDayGlassyDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_my_home_widget_day_glassy_dark_provider"/>
        </receiver>
        <receiver android:name=".ProgressEthiopianWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressEthiopianWidgetProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_ethiopian"/>
        </receiver>
        <receiver android:name=".ProgressGregorianWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressGregorianWidgetProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_gregorian"/>
        </receiver>
        <receiver android:name=".ProgressEthiopianWidgetDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressEthiopianWidgetDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_ethiopian_dark"/>
        </receiver>
        <receiver android:name=".ProgressGregorianWidgetDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressGregorianWidgetDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_gregorian_dark"/>
        </receiver>
        <receiver android:name=".ProgressEthiopianWidgetGlassyProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressEthiopianWidgetGlassyProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_ethiopian_glassy"/>
        </receiver>
        <receiver android:name=".ProgressGregorianWidgetGlassyProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressGregorianWidgetGlassyProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_gregorian_glassy"/>
        </receiver>
        <receiver android:name=".ProgressEthiopianWidgetGlassyDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressEthiopianWidgetGlassyDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_ethiopian_glassy_dark"/>
        </receiver>
        <receiver android:name=".ProgressGregorianWidgetGlassyDarkProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.anexon.ethio_cal.ProgressGregorianWidgetGlassyDarkProvider.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_progress_gregorian_glassy_dark"/>
        </receiver>
        <!-- flutter_android_widgets:end -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <meta-data
            android:name="app_name"
            android:value="Ethiopian Calendar"/>
    </application>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.PROCESS_TEXT"/>
            <data
                android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW"/>
            <data
                android:scheme="https"/>
        </intent>
    </queries>
</manifest>
